{% extends 'base.html' %}

{% block title %}
Awesome Blog
{% endblock %}


{% block content %}



<section class="jumbotron text-center">
<div class="container">
    <h1>Welcome to Awsome Blog</h1>
    <p class="lead text-muted">Life is 10% what happens to you and 90% how you react to it.</p>

     <nav>
        {% if user.is_authenticated %}
            <BR>
            <div class="container">

                <div class="list-group">
                      <ul class="list-group">
                          <a href="{% url 'ValidateText:Analyze_Text' %}"> <li class="list-group-item list-group-item-light">Analyze String</li></a>
                          <a href="{% url 'ValidateText:about' %}"><li class="list-group-item list-group-item-light">Product List</li></a>
                          <a href="#"><li class="list-group-item list-group-item-light">Books Library</li></a>
                       </ul>
                </div>
            </div>
        {% else %}
        <a class="btn btn-primary my-2" href="{% url 'accounts:login' %}">LOGIN</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="btn btn-secondary my-2" href="{% url 'accounts:signup' %}">Register</a>
        {% endif %}

     </nav>



</div>
</section>




{% endblock %}